[project]
	description = Tech eBooks
[access "refs/*"]
	owner = group user/Yeong Sheng (yeongsheng-tan)
[access "refs/for/refs/*"]
	read = group user/Yeong Sheng (yeongsheng-tan)
	push = group user/Yeong Sheng (yeongsheng-tan)
	label-Code-Review = -2..+2 group user/Yeong Sheng (yeongsheng-tan)
	label-Verified = -1..+1 group user/Yeong Sheng (yeongsheng-tan)
	rebase = group user/Yeong Sheng (yeongsheng-tan)
	removeReviewer = group user/Yeong Sheng (yeongsheng-tan)
	submit = group user/Yeong Sheng (yeongsheng-tan)
[access "refs/heads/*"]
	read = group user/Yeong Sheng (yeongsheng-tan)
	create = group user/Yeong Sheng (yeongsheng-tan)
	push = +force group user/Yeong Sheng (yeongsheng-tan)
	pushMerge = group user/Yeong Sheng (yeongsheng-tan)
[access "refs/tags/*"]
	push = +force group user/Yeong Sheng (yeongsheng-tan)
	pushTag = group user/Yeong Sheng (yeongsheng-tan)
	pushSignedTag = group user/Yeong Sheng (yeongsheng-tan)
